n8n/forecast_generation_workflow.json
{
  "name": "Forecast Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "trigger_forecast",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/query/forecast/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token-value"
            }
          ]
        }
      },
      "id": "execute_forecast",
      "name": "HTTP Run Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        280
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "C0123456789",
        "text": "=📈 Daily Forecasting Update: Dynamic Q3 predictions generated. Expected Peak Revenue: {{ $json.forecast_results.predicted_value }}.",
        "otherOptions": {}
      },
      "id": "slack_forecast_update",
      "name": "Slack Forecast Update",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        620,
        280
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Run Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Run Forecast": {
      "main": [
        [
          {
            "node": "Slack Forecast Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1.0.0"
}
