n8n/kpi_alert_workflow.json
{
  "name": "KPI Alert Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "kpi-alert",
        "options": {}
      },
      "id": "webhook_kpi_alert",
      "name": "Webhook Listener",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check_severity",
              "leftValue": "={{ $json.body.severity }}",
              "rightValue": "severe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check_severity_filter",
      "name": "Check Severity Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.0,
      "position": [
        400,
        280
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "C0123456789",
        "text": "=🚨 severe Anomaly Alert: {{ $json.body.metric }} is off by {{ $json.body.deviation }}%.",
        "otherOptions": {}
      },
      "id": "slack_alert_severe",
      "name": "Slack Alert Severe",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "C0123456789",
        "text": "=ℹ️ Anomaly Notification: {{ $json.body.metric }} shifted by {{ $json.body.deviation }}%.",
        "otherOptions": {}
      },
      "id": "slack_alert_warning",
      "name": "Slack Alert Warning",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        640,
        360
      ]
    }
  ],
  "connections": {
    "Webhook Listener": {
      "main": [
        [
          {
            "node": "Check Severity Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Severity Filter": {
      "main": [
        [
          {
            "node": "Slack Alert Severe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Alert Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1.0.0"
}
